body{
    background-color: rgba(31, 30, 32, 1);
}

h1{
    color: white;
    font-size: small;
    font-size: 19px;
     margin-top: -1.8rem; 
     color: rgb(207, 201, 201); 
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


