{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/styles.css" rel="stylesheet" type="text/css" >
</head>
<!-- <style >
    body{
        background-color: rgb(27, 29, 29);
    }
</style> -->
<body>
   
    <br><br>
    <h1 style="color: white;">ECSTATIC</h1>
    <button onclick="window.location.href='/enhance'">enhance videos</button>
    <button onclick="window.location.href='/analyse'">analyse videos</button>
</body>
</html>
