<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>
    <style>
        /* Modify the background color */
         
        .navbar-custom {
            background-color: 
rgba(37, 37, 40, 1);
        }
        /* Modify brand and text color */
         
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: white;
        }

        .refs{
            color: white;
        }
        .flexnav{
            display:inline-block;
            height: 2px;
        }
        
    </style>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#"><img src="../static/logo.svg" height="30rem" style="margin-top: -0.6rem;"/></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#" style="color: white; font-size: 2rem;">ecstatic</a></li>
              </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/" style="color: white;">Home</a></li>
              <li><a href="/analyse" style="color: white;">Analyse</a></li>
              <li><a href="/enhance" style="color: white;">Enhance</a></li>
              <li><a href="/about" style="color: white;">About</a></li>
            </ul>
          </div>
        </div>
      </nav>
</body>
</html>