{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Ecstatic - Home</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}"> -->
    
    <link href="../static/styles.css" rel="stylesheet" type="text/css" >
</head>
<!-- <style >
    body{
        background-color: rgb(27, 29, 29);
    }
</style> -->
<body>
    <style>
        
.overlay{
    margin-right: -12rem;
    transform: rotate(20deg); 
    float: right;
    height: 30rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    background-image: url("https://cdn.discordapp.com/attachments/873911460055642152/892712905374597160/PicsArt_09-29-03.32.09.png");
}
    </style>
   
    <br><br>
    
    <button onclick="window.location.href='/enhance'" style="background-color: transparent; border: transparent; margin-left: 10rem;"><img src="../static/enhance_logo.svg" height="100rem" />
    <br>
    <p style="color: white; font-size: large;">enhance</p>
    </button>
    <button onclick="window.location.href='/analyse'" style="background-color: transparent; border: transparent; margin-left: 5rem;"><img src="../static/analyze_logo.svg" height="100rem" />
        <br>
        <p style="color: white; font-size: large;">analyse</p>
        </button>

    <img src="../static/right-container.svg" alt="" style="float: right; height: 80%; margin-top: -8rem; width: 20rem;">
    <div class="overlay"></div>
</body>

</html>

