{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles.css">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div class="left">
                <div class="video">
                    <video id="videostream" muted="muted"></video>
                    <audio id="audiostream"></audio>
                    <!-- <h3>Press Record to start practising</h3> -->
                </div>
                <div class="utility">
                    <div class="line">
                        <hr>
                    </div>
                    <div class="center">
                        <div class="pause">

                            <img src="../../static/record.svg" alt="record-btn" id="record-btn"/>
                            <p>Rec/Pause</p>
                        </div>
                        <div class="stop">

                            <img src="../../static/stop.svg" alt="stop-btn" id="stop-btn"/>
                            <p>Stop</p>
                        </div>
                        <!-- <div class="stop">

                            <img src="../../static/submit.svg" alt="stop-btn" id="submit-btn"/>
                            <p>Submit</p>
                        </div> -->
                    </div>
                    <div class="time">
                        <p>00:00</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="subtitle">

                </div>
                <form action="{{ url_for('analyse') }}" method="POST">
                    <input type="text" name="ans" id="transcript-result">
                    <button type="submit" id="submit-btn">See Results</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../../static/analyse.js"></script>
</body>
</html>