{% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/facemesh"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontawesome/fontawesome-free@5.6.3/css/all.min.css">
</head>
<body>
    <style>
        #output{
    display: none;
}
    </style>
    <div class="container">
        <div class="clock-wrapper">
            <div class="clock">
                <span id="minutes">00</span>:<span id="seconds">00</span>
            </div>
            <p>Time</p>
        </div>
        
        <br><br>
        <div class="wrapper">
            
            <div class="left">
                
                <div class="video">
                    <video id='videostream' width="320" height="240" autoplay muted playsinline style="box-sizing:content-box;display:inline-block;"></video><span style="position:relative;display:inline-block;"><span id='loadingicon' class="fa fa-spinner fa-spin" style="position:absolute;font-size:100px;margin:70px 110px;display:none;"></span><canvas id='output' width="320" height="240" style="border:solid 1px black;box-sizing:content-box;"></canvas></span>
                    
                    <audio id="audiostream"></audio>
                    <!-- <h3>Press Record to start practising</h3> -->
                </div>
               
                <div class="utility">
                    <div class="line">
                        <hr>
                    </div>
                    <div class="center">
                        <div class="pause">

                            <img src="../../static/record.svg" alt="record-btn" id="record-btn"/>
                            <p>Rec/Pause</p>
                        </div>
                        <div class="stop">

                            <img src="../../static/stop.svg" alt="stop-btn" id="stop-btn"/>
                            <p>Stop</p>
                        </div>
                        <!-- <div class="stop">

                            <img src="../../static/submit.svg" alt="stop-btn" id="submit-btn"/>
                            <p>Submit</p>
                        </div> -->
                    </div>
                    <div class="time">
                        <p>00:00</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="subtitle">

                </div>
                <form action="{{ url_for('analyse') }}" method="POST">
                    <input type="text" name="ans" id="transcript-result">
                    <input type="text" name="time" id="clock-result">
                    <input type="text" name="confidence" id="confidence-result">
                    <button type="submit" id="submit-btn">See Results</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../../static/analyse.js"></script>
</body>
</html>